{name, "cecho"}.
{authors, ["Mazen Harake <mazen.harake@gmail.com>"]}.
{description, "An ncurses library for Erlang"}.
{homepage, "https://github.com/mazenharake/cecho"}.
{rebar_compatible, true}.
{license, "BSD2"}.
{url, {git, "https://github.com/mazenharake/cecho.git", {tag, "0.3.0"}}}.
{applications, [cecho]}.
